:root {
    --size: 300px;
}

body {
    background: rgba(1, 255, 255, 0,3);
}

.cube {
    margin : 12rem auto 0;
    width: var(--size);
    height: var(--size);
    transform-style: preserve-3d;
    /*transform: rotateY(30deg) rotateZ(30deg);*/
    animation: spin 20s infinite linear;
}

.side {
    position: absolute;
    opacity : 0.8;
    width: var(--size);
    height: var(--size);
}

#front {
    background: url(./images/paysage1.jpg) no repeat center/cover;
    transform: translateZ(calc(var(--size) / 2));
}

#bottom {
    background: url(./images/paysage2.jpg) no repeat center/cover;
    transform: rotateX(270deg) translateY(calc(var(--size) / 2));
    transform-origin: bottom center;
}

#top {
    background: url(./images/paysage3.jpg) no repeat center/cover;
    transform: rotateX(-270deg) translateY(calc(-1 * (var(--size) / 2)));
    transform-origin: top center; 
}

#left {
    background: url(./images/paysage4.jpg) no repeat center/cover;
    transform: rotateY(270deg) translateX(calc(-1 * (var(--size) / 2)));
    transform-origin: top left; 
}

#right {
    background: url(./images/paysage5.jpg) no repeat center/cover;
    transform: rotateY(-270deg) translateX(calc(var(--size) / 2));
    transform-origin: top right; 
}

#back {
    background: url(./images/paysage6.jpg) no repeat center/cover;
    transform: rotateY(-180deg) translateZ(calc(var(--size) / 2));
}

@keyframes spin {
    from {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}